/* Whole document: */

@font-face {
	font-family: "RictyDiminished-Regular";
	src: url(RictyDiminished-Regular.ttf);
}

p {
  font-family: Helvetica;
  font-size: 14pt;
}

pre {
  background-color: rgb(39, 40, 34) !important;
  border-color: rgb(39, 40, 34);
  font-size: 14pt !important;
}

code, kbd, pre, samp {
  font-family: "RictyDiminished-Regular" !important;
  font-size: 14pt !important;
}

.hljs-comment {
	font-style: normal;
	color: #aaa;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
